<% layout("/layouts/boilerplate") %>

  <link rel="stylesheet" href="/css/admin.css">

  <div class="main-page">
    <div class="sideNavBar">
      <ul>
        <li id="sec1" class="active">Blogs</li>
        <li id="sec2">Gallery</li>
        <li id="sec3">Testimonials</li>
        <li id="sec4">Pending Comments</li>
        <li id="sec5">Subscribers</li>
        <li id="sec6">Active Queries</li>
        <li id="sec7">Team Members</li>
        <li id="sec8">Jobs Section</li>
        <li id="sec9">Application Section</li>
        <p><a href="/logout">Logout</a></p>
        <p><a href="/admin/edit-ads-txt">Edit Ads.txt</a></p>
      </ul>
    </div>
    <div class="main-page-in">

      <!-- Blog Section -->
      <div class="blog-section" style="flex-direction: column;">
        <!-- Ads Section -->
        <h2>Upload New Ad</h2>
        <form action="/uploadAd" method="POST" enctype="multipart/form-data">
          <div class="admin-ads">
            <div>
              <!-- <input type="text" id="id" name="id" placeholder="Create unique ID" required> -->
              <input type="text" id="title" name="title" placeholder="Enter Ad Title" required />
              <input type="url" id="link" name="linkPath" placeholder="Enter Ad Link" required />
              <input type="file" name="ad" accept="image/*,video/*" required />
            </div>

            <div>
              <label for="startDate">Start Date:</label>
              <input style="margin-right: 2rem" type="date" id="startDate" name="startDate" required />

              <label for="endDate">End Date:</label>
              <input type="date" id="endDate" name="endDate" required />
            </div>

            <div>
              <label for="startTime">Start Time:</label>
              <input style="margin-right: 2rem" type="time" id="startTime" name="startTime" required />

              <label for="endTime">End Time:</label>
              <input type="time" id="endTime" name="endTime" required />
            </div>
            <br />

            <div class="active-days">
              <label>Active Days:</label><br /><br />
              <label><input type="checkbox" name="activeDays" value="Monday" />
                Monday</label>
              <label><input type="checkbox" name="activeDays" value="Tuesday" />
                Tuesday</label>
              <label><input type="checkbox" name="activeDays" value="Wednesday" />
                Wednesday</label>
              <label><input type="checkbox" name="activeDays" value="Thursday" />
                Thursday</label>
              <label><input type="checkbox" name="activeDays" value="Friday" />
                Friday</label>
              <label><input type="checkbox" name="activeDays" value="Saturday" />
                Saturday</label>
              <label><input type="checkbox" name="activeDays" value="Sunday" />
                Sunday</label>
            </div>

            <div>
              <button type="submit">Upload</button>
            </div>
          </div>
        </form>
        <br />

        <!-- Existing ads display section -->
        <h2 style="margin-top: 2vw">Uploaded Ads</h2>
        <% if (ads.length> 0) { %>
          <form action="/delete-ads" method="POST">
            <button class="ads-del-btn" type="submit">Delete Selected Ads</button>
            <table>
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Active</th>
                  <th>Total Taps</th>
                  <th>Ad Title</th>
                  <th>Ad Link</th>
                  <th>Image/Video</th>
                  <th>
                    <ul>
                      <li>Start Date</li>
                      <li>End Date</li>
                    </ul>
                  </th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Active Days</th>
                  <th>Edit</th>
                  <!-- Add this column for editing -->
                </tr>
              </thead>
              <% ads.forEach(ad=> { %>
                <tbody class="fsf">
                  <tr>
                    <td>
                      <input type="checkbox" name="adIds" value="<%= ad._id %>" />
                    </td>
                    <td>
                      <%= ad.isActive %>
                    </td>
                    <td>
                      <%= ad.clickCount %>
                    </td>
                    <td>
                      <h3>
                        <%= ad.title %>
                      </h3>
                    </td>
                    <td><a href="<%= ad.linkPath %>">
                        <%= ad.linkPath %>
                      </a></td>
                    <td>
                      <% if (ad.filePath.endsWith('.mp4')) { %>
                        <video controls width="100">
                          <source src="<%= ad.filePath %>" type="video/mp4" />
                          Your browser does not support the video tag.
                        </video>
                        <% } else { %>
                          <a href="<%= ad.linkPath %>">
                            <img height="50" width="50" src="<%= ad.filePath %>" alt="Ad Image" width="100" />
                          </a>
                          <% } %>
                    </td>
                    <td>
                      <ul>
                        <li>
                          <%= new Date(ad.startDate).toLocaleDateString() %>
                        </li>
                        <li>
                          <%= new Date(ad.endDate).toLocaleDateString() %>
                        </li>
                      </ul>
                    </td>
                    <td>
                      <%= ad.startTime %>
                    </td>
                    <td>
                      <%= ad.endTime %>
                    </td>
                    <td>
                      <%= ad.activeDays.join(', ') %></td>
              <td>
                <a
                  class="edit-btn"
                  href="/edit-ad/<%= ad._id %>"
                  target="_blank"
                  >Edit</a
                >
                <!-- Edit button -->
              </td>
            </tr>
          </tbody>
          <% }) %>
        </table>
        <br /><br />
      </form>
      <% } else { %>
      <p style="padding: 2rem 0">No ads uploaded yet.</p>
      <% } %>

      <h1 style="padding: 2vw; text-align: start">Blog Section</h1>
      <br /><br />
      <form
        action="/update-all-blog-banners"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="newBanner" accept="image/*" required />
        <button class="blog-btn" type="submit">Update All Blog Banners</button>
      </form>
      <div class="action-btns">
        <a href="/blog-form">Create New Blog</a>
      </div>
      <table>
        <thead>
          <tr>
            <th>AUTHOR</th>
            <th>BLOG TITLE</th>
            <th>EDIT</th>
            <th>DELETE</th>
            <th>TOGGLE POPULAR</th>
            <th>TOGGLE APPROVE</th>
          </tr>
        </thead>
        <tbody>
          <% AllBlogs.forEach(blog=> { %>
          <tr>
            <td>
              <a href="/blog-detail/<%= blog.canonical %>" style="color: black">
                <%= blog.email %>
              </a>
            </td>
            <td>
              <a href="/blog-detail/<%= blog.canonical %>" style="color: black">
                <%= blog.title %>
              </a>
            </td>
            <td>
              <p>
                <a class="edit-btn" href="/edit-blog/<%= blog.canonical %>"
                  >Edit</a
                >
              </p>
            </td>
            <td>
              <form
                method="POST"
                action="/delete-blog/<%= blog._id %>?_method=DELETE"
              >
                <button class="del-btn" type="submit">Delete</button>
              </form>
            </td>
            <td>
              <form method="POST" action="/toggle-popular/<%= blog._id %>">
                <button
                  type="submit"
                  class="<%= blog.isPopular ? ' popular' : 'not-popular' %>"
                        >
                        <%= blog.isPopular ? 'Popular' : 'Not Popular' %>
                          </button>
          </form>
          </td>
          <td>
            <form method="POST" action="/toggle-approve/<%= blog._id %>">
              <button type="submit" class="<%= blog.isApprove ? 'approve' : 'not-approve' %>">
                <%= blog.isApprove ? 'Approve' : 'Not Approve' %>
              </button>
            </form>
          </td>
          </tr>
          <% }) %>
            </tbody>
            </table>
      </div>

      <!-- Gallery Section -->
      <div class="gallery-section" style="display: none; flex-direction: column;">
        <h1>Gallery Section</h1>
        <form action="/add" method="POST" enctype="multipart/form-data">
          <div class="secr">
            <p>
              <select name="type" id="type">
                <option value="image">Image</option>
                <option value="video">Video</option>
              </select>
            </p>
            <p><input type="file" name="files" id="files" multiple required /></p>
          </div>
          <div class="secr">
            <p>
              <input type="text" name="tags" id="tags" placeholder="Tags (comma-separated)" />
            </p>
            <p>
              <select name="category" id="category">
                <option value="pro-sho">Product Shoot</option>
                <option value="mod-sho">Model Shoot</option>
                <option value="oth">Others</option>
                <option value="grph-dsgn">Graphic Designs</option>
                <option value="motion-posture">Motion Posture</option>
                <option value="promotional-videos">Promotional Videos</option>
                <option value="creative-shoot">Creative Shoot</option>
                <option value="banners">Banners</option>
                <option value="Office">Office</option>
              </select>
            </p>
            <!-- <p>
                            <select name="section" id="section">
                                <option value="section1">Row 1</option>
                                <option value="section2">Row 2</option>
                                <option value="section3">Row 3</option>
                            </select>
                        </p> -->
          </div>
          <button type="submit">Upload</button>
        </form>
        <!-- New multi-delete form -->
        <form id="delete-multiple-form" action="/delete-multiple" method="POST">
          <button type="submit" id="delete-multiple-button" class="delete-multiple-button">
            Delete Selected Items
          </button>

          <div class="gallery-cont">
            <table>
              <thead>
                <tr>
                  <th>SELECT</th>
                  <th>IMAGE</th>
                  <th>TAGS</th>
                  <th>DELETE</th>
                </tr>
              </thead>
              <tbody>
                <% ['section1', 'section2' , 'section3' ].forEach(section=> { %>
                  <% galleryItems.forEach(gal=> { %> <% if (gal.section===section) { %>
                      <tr>
                        <td>
                          <input type="checkbox" name="selectedItems" value="<%= gal._id %>" />
                        </td>

                        <td>
                          <% if (gal.type==='image' ) { %>
                            <img loading="lazy" src="<%= gal.src %>" alt="Image" class="clickable" />
                            <% } else if (gal.type==='video' ) { %>
                              <video autoplay loop muted id="heroVideo">
                                <source src="<%= gal.src %>" type="video/mp4" />
                                Your browser does not support the video tag.
                              </video>
                              <% } %>
                        </td>
                        <td>
                          <ul>
                            <% gal.tags.forEach(tag=> { %>
                              <li id="<%= tag %>">
                                <%= tag %>
                              </li>
                              <% }) %>
                          </ul>
                        </td>
                        <td>
                          <form action="/delete/<%= gal._id %>" method="POST"
                            style="display: flex; justify-content: center">
                            <button type="submit" class="delete-button del-btn">
                              Delete
                            </button>
                          </form>
                        </td>
                      </tr>
                      <% } %>
                        <% }) %>
                          <% }) %>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <!-- Testimonial Section -->
      <div class="testimonial-section" style="display: none; ">
        <h2>Add New Testimonial</h2>
        <form style="padding: 2vw 0" action="/admin/add-testimonial" method="POST" enctype="multipart/form-data"
          class="testi-form">
          <div style="display: flex; justify-content: space-between" class="testi-sec">
            <input type="text" name="name" placeholder="Client Name" required />
            <input type="file" name="image" />
          </div>
          <textarea name="text" class="comment" placeholder="Testimonial Text" required maxlength="250"
            oninput="updateCharCount(this)"></textarea>
          <span id="charCount">0 / 250 characters</span>
          <div style="margin-top: 1vw">
            <button type="submit">Add Testimonial</button>
          </div>
        </form>

        <h2>Add Testimonial Page Content</h2>
        <form style="padding: 2vw 0" action="/admin/add-testimonial-page" method="POST">
          <select name="testimonialId" required>
            <% if (testimonials && testimonials.length> 0) { %> <% testimonials.forEach(testimonial=> { %>
                <option value="<%= testimonial._id %>">
                  <%= testimonial.name %>
                </option>
                <% }) %>
                  <% } else { %>
                    <option value="">No testimonials available</option>
                    <% } %>
          </select>
          <div class="tarea">
            <textarea name="growthStory" placeholder="Growth Story"></textarea>

            <textarea name="problemStatement" placeholder="Problem Statement"></textarea>
            <textarea name="clientOverview" placeholder="Client Overview"></textarea>
            <textarea name="challenges" placeholder="Challenges"></textarea>
            <textarea name="objectives" placeholder="Objectives"></textarea>
            <textarea name="solution" placeholder="Solution"></textarea>
            <textarea name="result" placeholder="Result"></textarea>
            <textarea name="conclusion" placeholder="Conclusion"></textarea>
          </div>
          <button type="submit">Add Testimonial Page</button>
        </form>

        <h2 style="margin-bottom: 1vw">Existing Testimonials</h2>
        <table>
          <thead>
            <tr>
              <th>Page Name</th>
              <th>Text</th>
              <th>Image</th>
              <th>Edit Testimonial</th>
              <th>Edit Page</th>

              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% testimonials.forEach(testimonial=> { %>
              <tr>
                <td>
                  <%= testimonial.name %>
                </td>
                <td>
                  <%= testimonial.text %>
                </td>
                <td>
                  <img src="<%= testimonial.image %>" alt="Shashi sales and marketing" width="70px" height="70px" />
                </td>
                <td>
                  <button onclick="toggleEditForm('editTestimonial<%= testimonial._id %>')">
                    Edit
                  </button>
                </td>
                <td>
                  <% if (testimonial.page) { %>
                    <button onclick="toggleEditForm('editTestimonialPage<%= testimonial.page._id %>')">
                      Edit
                    </button>
                    <% } %>
                </td>

                <td>
                  <form action="/admin/delete-testimonial/<%= testimonial._id %>" method="POST">
                    <button class="del-btn" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>

        <% testimonials.forEach(testimonial=> { %>
          <div id="editTestimonial<%= testimonial._id %>" style="display: none;">
            <h2 style="margin-bottom: 1vw; margin-top: 2vw">Edit Testimonial</h2>
            <form action="/admin/update-testimonial/<%= testimonial._id %>" method="POST" enctype="multipart/form-data">
              <table>
                <thead>
                  <tr>
                    <th>Page Name</th>
                    <th>Text</th>
                    <th>Select Image</th>
                    <th>Image</th>
                    <th style="width: 2vw">Toggle Approve</th>
                    <th style="width: 2vw">Update</th>
                  </tr>
                </thead>
                <tbody class="edtes">
                  <tr>
                    <td>
                      <input type="text" name="name" value="<%= testimonial.name %>" required />
                    </td>
                    <td>
                      <input type="text" name="text" value="<%= testimonial.text %>" required />
                    </td>
                    <td>
                      <input style="font-size: 0.5vw" type="file" name="image" />
                    </td>
                    <td>
                      <img src="<%= testimonial.image %>" alt="Shashi sales and marketing" width="70px" height="70px" />
                    </td>
                    <td>
                      <form method="POST" action="/toggle-approve/<%= testimonial._id %>">
                        <button type="submit" class="<%= testimonial.isApprove ? 'approve' : 'not-approve' %>">
                          <%= testimonial.isApprove ? 'A' : 'N/A' %>
                        </button>
                      </form>
                    </td>
                    <td><button type="submit">Update</button></td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <% if (testimonial.page) { %>
            <div id="editTestimonialPage<%= testimonial.page._id %>" style="display: none; width: 100%;">
              <h2 style="margin-top: 2vw; margin-bottom: 1vw">
                Edit Testimonial Page
              </h2>
              <form action="/admin/update-testimonial-page/<%= testimonial.page._id %>" method="POST">
                <table>
                  <thead>
                    <tr>
                      <th>Update Content</th>
                      <!-- <th>Update Testimonial Page</th> -->
                    </tr>
                  </thead>
                  <tbody class="tarea">
                    <tr>
                      <td>
                        <label for="growthStory">Growth Story:</label>
                        <textarea name="growthStory">
<%- testimonial.page.growthStory %></textarea>

                        <label for="problemStatement">Problem Statement:</label>
                        <textarea name="problemStatement">
<%- testimonial.page.problemStatement %></textarea>
                        <label for="clientOverview">Client Overview:</label>
                        <textarea name="clientOverview">
<%- testimonial.page.clientOverview %></textarea>
                        <label for="challenges">Challenges:</label>
                        <textarea name="challenges">
<%- testimonial.page.challenges %></textarea>
                        <label for="objectives">Objectives:</label>
                        <textarea name="objectives">
<%- testimonial.page.objectives %></textarea>
                        <label for="solution">Solution:</label>
                        <textarea name="solution">
<%- testimonial.page.solution %></textarea>
                        <label for="result">Result:</label>
                        <textarea name="result">
<%- testimonial.page.result %></textarea>
                        <label for="conclusion">Conclusion:</label>
                        <textarea name="conclusion">
<%- testimonial.page.conclusion %></textarea>
                      </td>
                    </tr>
                    <tr>
                      <button style="margin: 1vw 0" type="submit">Update</button>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <% } %>
              <% }) %>
      </div>

      <!-- comment section -->
      <div class="comment-section" style="display: none; flex-direction: column;">
        <h1>Pending Comments</h1>

        <table>
          <thead>
            <tr>
              <th>Author Email</th>
              <th>Blog</th>
              <th>Name</th>
              <th>Comment</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% comments.forEach(comment=> { %>
              <tr>
                <td>
                  <%= comment.email %>
                </td>
                <td>
                  <%= comment.blog.title %>
                </td>
                <td>
                  <%= comment.name %>
                </td>
                <td>
                  <%= comment.comment %>
                </td>
                <td>
                  <form method="POST" action="/admin/approve-comment/<%= comment._id %>">
                    <button class="appr-btn" type="submit">Approve</button>
                  </form>
                  <br />
                  <form method="POST" action="/admin/delete-comment/<%= comment._id %>">
                    <button class="del-btn" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <br />

        <h1>Approved Comments</h1>
        <table>
          <thead>
            <tr>
              <th>Author Email</th>
              <th>Blog</th>
              <th>Name</th>
              <th>Comment</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% acomments.forEach(comment=> { %>
              <tr>
                <td>
                  <%= comment.email %>
                </td>
                <td>
                  <%= comment.blog.title %>
                </td>
                <td>
                  <%= comment.name %>
                </td>
                <td>
                  <%= comment.comment %>
                </td>
                <td>
                  <form method="POST" action="/admin/delete-comment/<%= comment._id %>">
                    <button class="del-btn" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- subscriber section -->
      <div class="subscriber-section" style="display: none; flex-direction: column;">
        <!-- existing subscribers -->

        <div class="action-btns">
          <a href="" class="open-create-subscriber">Create New Subscriber</a>
        </div>

        <div class="create-new" style="display: none">
          <h2>Create new subsciber</h2>

          <form action="/subscribe" method="POST">
            <input type="email" name="email" placeholder="Your Email" required />
            <input type="hidden" name="redirectUrl" value="/admin-panel" />
            <button type="submit">Create</button>
          </form>
        </div>

        <h2>Existing Subscibers</h2>
        <table id="subscriberTable">
          <thead>
            <tr>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% subscribers.forEach(subscriber=> { %>
              <tr>
                <td>
                  <%= subscriber.email %>
                </td>

                <td>
                  <form method="POST" action="/delete-subscriber/<%= subscriber._id %>?_method=DELETE">
                    <button class="del-btn" type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>

        <!-- create new subscriber -->

        <div class="spb">
          <button class="dieb" onclick="downloadTableAsCSV('subscriberTable')">
            Download as CSV
          </button>
        </div>
      </div>


      <!-- chat bot section -->
      <div class="chatbot-section">
        <div id="chat-list">
          <div id="chat-list-header">
            <h2>Chats</h2>
          </div>
          <div class="chat-tabs">
            <div class="chat-tab active" data-tab="open">Open Chats</div>
            <div class="chat-tab" data-tab="closed">Closed Chats</div>
          </div>
          <div id="open-chats" class="chat-list active">
            <% chats.forEach(chat=> { %>
              <div class="chat-item" data-id="<%= chat._id %>">
                <div class="chat-avatar">
                  <%= chat.user.name.charAt(0).toUpperCase() %>
                </div>
                <div class="chat-info">
                  <div class="chat-name">
                    <%= chat.user.name %>
                  </div>
                  <div class="chat-preview">Click to view conversation</div>
                </div>
              </div>
              <% }); %>
          </div>
          <div id="closed-chats" class="chat-list">
            <% closedChats.forEach(chat=> { %>
              <div class="chat-item closed-chat-item" data-id="<%= chat._id %>">
                <div class="chat-avatar">
                  <%= chat.user.name.charAt(0).toUpperCase() %>
                </div>
                <div class="chat-info">
                  <div class="chat-name">
                    <%= chat.user.name %> (Closed)
                  </div>
                  <div class="chat-preview">Closed on <% if (chat.closedAt) { %>
                      <%= chat.closedAt.toLocaleString() %>
                        <% } else { %>
                          N/A
                          <% } %>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
        <div id="chat-area">
          <div id="chat-area-header">
            <h2 id="current-user"></h2>
          </div>
          <div id="chat-messages"></div>
          <div id="typing-indicator" style="display: none;">User is typing...</div>
          <form id="reply-form" style="display: none;">
            <input type="text" id="reply-input" autocomplete="off" placeholder="Type a message" />
            <button type="submit">
              <svg viewBox="0 0 24 24" width="24" height="24" class="">
                <path fill="currentColor"
                  d="M1.101 21.757 23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
              </svg>
            </button>
          </form>
          <button id="close-chat" style="display: none;">Close Chat</button>
        </div>
        <audio id="notificationSound" src="/notification.mp3" preload="auto"></audio>

      </div>


      <!-- Add team member section -->
      <div class="team-section" style="flex-direction: column;">

        <!-- add a new Team member -->
        <h2>Add New Member</h2>
        <form action="/admin/add-member" method="POST" enctype="multipart/form-data" class="team-form">
          <div class="team-sec">
            <input type="text" name="name" placeholder="Member Name" class="input-field" required />
            <input type="text" name="designation" placeholder="Member Designation" class="input-field" required />
            <input type="file" name="image" class="input-file" />
          </div>
          <textarea name="description" class="description" placeholder="Member description" required></textarea>

          <div class="form-action">
            <button type="submit" class="submit-btn">Add Member</button>
          </div>
        </form>


        <!-- existings members and update form -->


        <% members.forEach(member=> { %>
          <div id="editMember<%= member._id %>" style="display: none;">
            <h2 style="margin-bottom: 1vw; margin-top: 2vw">Edit Member</h2>
            <form action="/admin/update-member/<%= member._id %>" method="POST" enctype="multipart/form-data"
              class="team-form">

              <div class="team-sec">
                <input class="input-field" type="text" name="name" value="<%= member.name %>" required />

                <input class="input-field" type="text" name="designation" value="<%= member.designation %>" required />

                <input class="input-file" type="file" name="image" />


              </div>

              <textarea type="text" name="description" class="description" required><%= member.description %></textarea>
              <button type="submit" class="submit-btn">Update</button>
            </form>
          </div>

          <% }) %>

            <h2 style="margin-bottom: 1vw">Existing Members</h2>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Designation</th>
                  <th>Image</th>

                  <th>Edit Member</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <% members.forEach(member=> { %>
                  <tr>
                    <td>
                      <%= member.name %>
                    </td>
                    <td>
                      <%= member.designation %>
                    </td>
                    <td>
                      <img src="<%= member.image %>" alt="Shashi sales and marketing" width="70px" height="70px" />
                    </td>
                    <td>
                      <button class="team-sec-btn" onclick="toggleEditForm('editMember<%= member._id %>')">
                        Edit
                      </button>
                    </td>
                    <td>
                      <form action="/admin/delete-member/<%= member._id %>" method="POST">
                        <button class="del-btn" type="submit">Delete</button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>



      </div>



      <!-- job posting section -->
      <div class="job-section" style="flex-direction: column;">
        <!-- form to add job -->
        <div class="add-job-container">
          <h1 class="form-title">Add Job Posting</h1>
          <form action="/admin/job/add" method="POST">
            <div class="form-group">
              <label class="form-label" for="title">Job Title:</label>
              <input class="form-input" type="text" id="title" name="title" required>
            </div>

            <div class="form-group">
              <label class="form-label" for="location">Location:</label>
              <input class="form-input" type="text" id="location" name="location" required>
            </div>

            <div class="form-group">
              <label class="form-label" for="experience">Experience:</label>
              <select class="form-select" id="experience" name="experience" required>
                <option value="Entry Level">Entry Level</option>
                <option value="Mid">Mid</option>
                <option value="Senior">Senior</option>

              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="jobType">Job Type:</label>
              <select class="form-select" id="jobType" name="jobType" required>
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <option value="Contract">Contract</option>
              </select>
            </div>



            <div class="form-group">
              <label class="form-label" for="qualifications">Eligibility Criteria:</label>
              <textarea class="form-textarea" id="qualifications" name="qualifications"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="description">Role Description:</label>
              <textarea class="form-textarea" id="description" name="description"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="responsibilities">Responsibilities:</label>
              <textarea class="form-textarea" id="responsibilities" name="responsibilities"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="requirements">Special Benefits:</label>
              <textarea class="form-textarea" id="requirements" name="requirements"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="skills">Skills (Enter all the skills with comma sepration, e.g. Node, js,
                html) :</label>
              <input class="form-textarea" id="skills" name="skills" required>
            </div>


            <div class="form-group">
              <label class="form-label" for="salary">Salary:</label>
              <input class="form-input" type="text" id="salary" name="salary" required>
            </div>

            <button class="form-submit" type="submit">Add Job</button>
          </form>




          <!-- show existing members -->
          <h2>Existing Jobs</h2>
          <table id="jobsTable">
            <thead>
              <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Type</th>
                <th>Status</th>

                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% jobs.forEach(job=> { %>
                <tr>
                  <td>
                    <%= job.title %>
                  </td>
                  <td>
                    <%= job.location %>
                  </td>
                  <td>
                    <%= job.salary %>
                  </td>
                  <td>
                    <%= job.jobType %>
                  </td>
                  <td>
                    <%= job.status %>
                  </td>


                  <td>
                    <a class="job-edit-btn" href="/admin/job/edit/<%= job._id %>">Edit</a>

                  </td>
                  <td>
                    <form action="/admin/job/toggle-status/<%= job._id %>" method="POST">
                      <button class="status-btn del-btn" type="submit">
                        <%= job.status==='open' ? 'Close Job' : 'Open Job' %>
                      </button>
                    </form>
                  </td>

                </tr>
                <% }) %>
            </tbody>
          </table>



        </div>

      </div>


      <!-- Applicatoins section -->
      <div class="application-section" style="flex-direction: column;">
        <div class="exist-app">
          <h2 style="margin-bottom: 2rem;">Existing Applications</h2>

          <!-- Filter and Sort Options -->
          <div class="filter-sort-options" style="margin-bottom: 2rem;">
            <select id="jobNameFilter">
              <option value="">All Job Names</option>
              <% const uniqueJobNames=[...new Set(applications.map(app=> app.jobName))]; %>
                <% uniqueJobNames.forEach(jobName=> { %>
                  <option value="<%= jobName %>">
                    <%= jobName %>
                  </option>
                  <% }); %>
            </select>
            <button id="sortByDate">Sort by Date</button>
          </div>

          <table id="jobsTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Resume</th>
                <th>Email</th>
                <th>Job name</th>
                <th>Phone</th>
                <th>City</th>
                <th>State</th>
                <th>Company</th>
                <th>Job Title</th>
                <th>Expected CTC</th>
                <th>Current CTC</th>
                <th>Skills</th>
                <th>Apply Date</th>
                <th>Status</th>
                <th>Shortlist</th>
                <th>Hire</th>
                <th>Reject</th>
              </tr>
            </thead>
            <tbody id="applicationsTableBody">
              <% applications.forEach(appli=> { %>
                <tr>
                  <td>
                    <%= appli.firstName %>
                      <%= appli.lastName %>
                  </td>
                  <td>
                    <% if (appli.resume) { %>
                      <a href="<%= appli.resume %>" class="download-btn">Download Resume</a>
                      <p>Debug: <%= appli.resume %></p> <!-- Debugging line -->
                    <% } else { %>
                      No resume available
                    <% } %>
                  </td>
                  <td>
                    <%= appli.email %>
                  </td>
                  <td>
                    <%= appli.jobName %>
                  </td>
                  <td>
                    <%= appli.phone %>
                  </td>
                  <td>
                    <%= appli.city %>
                  </td>
                  <td>
                    <%= appli.state %>
                  </td>
                  <td>
                    <%= appli.company %>
                  </td>
                  <td>
                    <%= appli.jobTitle %>
                  </td>
                  <td>
                    <%= appli.expectedCTC %>
                  </td>
                  <td>
                    <%= appli.currentCTC %>
                  </td>
                  <td>
                    <%= appli.skills %>
                  </td>
                  <td data-appliedAt="<%= appli.appliedAt %>">
                    <%= new Date(appli.appliedAt).toLocaleDateString('en-US', { day: 'numeric' , month: 'short' }) %>
                  </td>

                  <td>
                    <%= appli.status %>
                  </td>
                  <td>
                    <form action="/admin/application/update-status/<%= appli._id %>" method="POST">
                      <input type="hidden" name="status" value="shortlisted">
                      <button class="job-edit-btn" type="submit">Shortlist</button>
                    </form>
                  </td>
                  <td>
                    <form action="/admin/application/update-status/<%= appli._id %>" method="POST">
                      <input type="hidden" name="status" value="hired">
                      <button class="del-btn" type="submit">Hire</button>
                    </form>
                  </td>
                  <td>
                    <form action="/admin/application/update-status/<%= appli._id %>" method="POST">
                      <input type="hidden" name="status" value="rejected">
                      <button class="del-btn" type="submit">Reject</button>
                    </form>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>


    </div>


  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/admin.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const jobNameFilter = document.getElementById('jobNameFilter');
      const sortByDateBtn = document.getElementById('sortByDate');
      const tableBody = document.getElementById('applicationsTableBody');
      let applications = Array.from(tableBody.querySelectorAll('tr'));
      let isAscending = true;

      function applyFilters() {
        const selectedJobName = jobNameFilter.value;

        applications.forEach(row => {
          const jobNameCell = row.querySelector('td:nth-child(4)');
          if (selectedJobName === '' || jobNameCell.textContent === selectedJobName) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        });
      }

      function sortByDate() {
        applications.sort((a, b) => {
          // Find the 'appliedAt' <td> in both rows
          const dateA = new Date(a.querySelector('td[data-appliedAt]').getAttribute('data-appliedAt'));
          const dateB = new Date(b.querySelector('td[data-appliedAt]').getAttribute('data-appliedAt'));

          // Sort based on ascending/descending flag
          return isAscending ? dateA - dateB : dateB - dateA;
        });

        // Re-append sorted rows to the table body
        applications.forEach(row => tableBody.appendChild(row));
        isAscending = !isAscending;  // Toggle sorting order for next click
      }


      jobNameFilter.addEventListener('change', applyFilters);
      sortByDateBtn.addEventListener('click', sortByDate);
    });
  </script>