<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>
        <%= title %>
    </title>
    <meta name="title" content="<%= title %>" />
    <meta name="description" content="<%= description %>" />
    <!-- <link rel="canonical" href="<%= canonicalUrl %>" /> -->
    <!-- <meta name="keywords" content="<%= keywords %>" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.6.2/jodit.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="/css/landing.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
        rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.43/moment-timezone-with-data.min.js"></script>




    <!-- clarity code -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M49293JP');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "o7qe7mmne2");
    </script>

    <!-- clarity code -->




    <!-- Google tag (gtag.js) -->
    <script>
        // Define dataLayer and the gtag function.
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }

        // Set default consent to 'denied' as a placeholder
        // Determine actual values based on your own requirements
        gtag("consent", "default", {
            ad_storage: "granted",
            ad_user_data: "granted",
            ad_personalization: "granted",
            analytics_storage: "granted",
            functionality_storage: "granted",
            personalization_storage: "granted",
            security_storage: "granted",
        });


        var allGranted = {
            ad_storage: "granted",
            ad_user_data: "granted",
            ad_personalization: "granted",
            analytics_storage: "granted",
            functionality_storage: "granted",
            personalization_storage: "granted",
            security_storage: "granted",
        };

        var essentialOnlyGranted = {
            ad_storage: "denied",
            ad_user_data: "denied",
            ad_personalization: "denied",
            analytics_storage: "denied",
            functionality_storage: "granted",
            personalization_storage: "granted",
            security_storage: "granted",
        };

        if (readCookie("google-consent") != null)
            gtag("consent", "update", allGranted);
    </script>


    <!-- Create one update function for each consent parameter -->

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-FZVQLLDS0B");
    </script>
    <!-- End Google Tag Manager -->




    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1007318860933777');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=1007318860933777&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->



    <!-- </script> -->

    <script>
        function consentAll() {
            gtag('consent', 'update', allGranted);
            createCookie('google-consent', true, 30);
            document.getElementById('consent-banner').style = 'display: none;';
            dataLayer.push({ 'event': 'consent-updated' });
        }
        function essentialOnly() {
            gtag('consent', 'update', essentialOnlyGranted);
            createCookie('google-consent', true, 30);
            document.getElementById('consent-banner').style = 'display: none;';
            dataLayer.push({ 'event': 'consent-updated' });
        }

        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        document.addEventListener("DOMContentLoaded", function () {
            if (readCookie('google-consent') == null)
                document.getElementById('consent-banner').style = '';
        });
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZVQLLDS0B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FZVQLLDS0B');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1513305058792581"
        crossorigin="anonymous"></script>

</head>



<body>
    <!-- clarity code -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M49293JP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- clarity code -->


    <%- include("./includes/flash-message") %>
        <div class="full-website">
            <header class="landing-header  ">
                <nav>
                    <ul>
                        <li>
                            <div class="ham-cont">
                                <span class="line line1"></span>
                                <span class="line line2"></span>
                                <span class="line line3"></span>
                            </div>
                        </li>
                        <li class="logoimg"><img src="/assets/images/logo.png" alt="logo"></li>
                        <li class="getq-form"><a class="header-anc" href="/contact-us">Get quote</a></li>
                    </ul>
                    <div class="lp-menu-bar non-scrollable-section">
                        <ul>
                            <li class="nmu"><a href="/contact"><span>01</span>Contact Us</a></li>
                            <li class="nmu"><a href="/about-us"><span>02</span>About Us</a></li>
                            <li class="nmu"><a href="/seo"><span>03</span>Search Engine Optimisation(SEO)</a></li>
                            <li class="nmu"><a href="/web-development"><span>04</span>Website Development</a></li>
                            <li class="nmu"><a href="/digital-marketing"><span>05</span>Digital Advertising</a></li>
                            <li class="nmu"><a href="/graphic-design"><span>06</span>UI/UX & Graphic Designing</a></li>
                            <li class="hum"><img src="/assets/images/human1.webp" alt="human1"></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <main class="landing-page">
                <div class="lp-menu-bar-overlay"></div>

                <!-- appointment popup -->

                <div id="popup" class="popup">
                    <div class="popup-content">
                        <span class="close">&times;</span>
                        <!-- <img class="pi-1" src="/assets/i1.png" alt="hello"> -->
                        <!-- <img class="pi-2" src="/assets/i2.png" alt="hello"> -->
                        <form id="consultationForm" action="/book-consultation" method="POST">
                            <div id="infoSection">
                                <h2 style="text-align: center;">Book Your Consultation</h2>
                                <input type="text" name="fname" placeholder="First Name" required>
                                <input type="text" name="lname" placeholder="Last Name" required>
                                <input type="email" name="email" placeholder="Email" required>

                                <select name="countryCode" id="countryCode" required>
                                    <!-- Options will be populated by JavaScript -->
                                </select>

                                <input type="tel" name="number" placeholder="Phone Number" required>

                                <!-- <input type="number" name="age" placeholder="Age" required> -->
                                <select name="service" required>
                                    <option value="">Select a service</option>
                                    <option value="Digital Marketing">Digital Marketing</option>
                                    <option value="Website Development">Website Development</option>
                                    <option value="Social Media Management">Social Media Management</option>
                                    <option value="Search Engine Optimisation">Search Engine Optimisation</option>
                                    <option value="UI/UX Design">UI/UX Design</option>
                                    <option value="Lead Generation">Lead Generation</option>
                                </select>
                                <button type="button" class="sub-btn" id="nextBtn">Next</button>
                            </div>
                            <div id="appointmentSection" style="display: none;">
                                <h2>Select Appointment Date and Time</h2>
                                <input type="date" name="appointmentDate" required>
                                <input type="time" name="appointmentTime" required>
                                <select id="timeZone" name="timeZone" required>
                                    <option value="">Select Time Zone</option>
                                </select>

                                <button type="button" id="prevBtn" class="sub-btn" style="background-color: transparent; border: black; border: 2px solid black; padding-block: .6rem; margin-right: 2vw;">Back</button>
                                <button type="submit" class="sub-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- appointment popup -->



                <section class="hero-section-landing non-scrollable-section">
                    <!-- <div class="hideimg hi1 non-scrollable-section ">
                       
                        <p>Digital Marketing</p>
                    </div>
                    <div class="hideimg hi2 non-scrollable-section ">
                       
                        <p>Development</p>
                    </div> -->
                    <!-- <div class="hideimg hi3">
                    <img src="/assets/images/ar22.webp" alt="">
                </div> -->


                    <div class="hero-sec-l animate">
                        <!-- <h1>We are the best <span class="show-img sp1">Digital Marketing </span>
                            and <span class="show-img sp2">Development</span>
                            company</h1> -->

                        <h1>Reduce Bounce Rate With <span class="show-img sp1">Customized</span> Website Development For
                            <span class="show-img sp2">Task Automation</span>
                        </h1>
                        <p>Our tailored web development solutions reduce load times and bounce rates, connecting you
                            with customers beyond local borders.
                        </p>
                    </div>
                    <div class="hero-sec-r animate">
                        <figure>
                            <img src="/assets/images/humana.png" class="animate" alt="human1">
                        </figure>
                        <figure class="msglp">
                            <img src="/assets/images/msglp2.gif" class="animate" alt="message">
                        </figure>
                    </div>
                    <div class="ssstrip animate-text">
                        <span>Shashi Sales And Marketing Shashi Sales And Marketing Shashi Sales And Marketing Shashi
                            Sales And
                            Marketing</span>
                        <span>Shashi Sales And Marketing Shashi Sales And Marketing Shashi Sales And Marketing Shashi
                            Sales And
                            Marketing</span>
                    </div>
                </section>




                <section class="hero-section-2 animate  ">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="hover-img">
                                    <img src="/assets/images/ho1.png" alt="Arrow Icon">
                                </div>
                                Ecommerce Showcase
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="hover-img">
                                    <img src="/assets/images/ho2.png" alt="Arrow Icon">
                                </div>
                                Healthcare Showcase
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="hover-img">
                                    <img src="/assets/images/ho3.png" alt="Arrow Icon">
                                </div>
                                Job Board Showcase

                            </a>
                        </li>

                    </ul>
                    <p><a class="consult">Book a Free Consultation<span><img height="50" width="500"
                                    src="/assets/images/Arrowrightcircle.webp" alt="Arrowrightcircle"></span></a></p>
                </section>



                <section class="hero-section-2-mob animate ">
                    <ul>
                        <li><a>
                                <div class="hover-img">
                                    <img src="/assets/images/ho1.png" alt="Arrow Icon">
                                </div>
                                Ecommerce Showcase
                            </a></li>

                    </ul>
                    <p class="non-scrollable-section"><a class="consult">Book a Free Consultation<span>
                                <!-- <img height="50" width="500" src="/assets/images/Arrowrightcircle.webp"
                                    alt="Arrowrightcircle"></span> -->
                        </a></p>

                </section>
                <!-- popup form -->

                <div class="cen-pop ">
                    <div class="show-form">
                        <div class="get-quote-menu a">
                            <div class="contact-left">
                                <div class="contact-left-in show-form" id="mob-foot">
                                    <form id="quoteForm" class="validateForm" action="/submit-query" method="post">
                                        <div class="fila">
                                            <div><input type="text" id="firstName" placeholder="First Name"
                                                    name="firstName" required></div>
                                            <div><input type="text" id="lastName" placeholder="Last Name"
                                                    name="lastName" required></div>
                                        </div>
                                        <div class="ph-num">
                                            <input type="tel" class="phone" id="phone"
                                                placeholder="Phone Number (e.g. 123-456-7890)" name="phone" required>
                                        </div>
                                        <div class="fila"><input type="email" id="email" placeholder="Email Address"
                                                name="email" required>
                                        </div>
                                        <div class="ser-h"><textarea id="service" name="message" placeholder="Service"
                                                required></textarea>
                                        </div>
                                        <div class="form-submit"><input type="submit" value="Submit"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <span class="crsss">
                            <ul>
                                <li class="lineac1"></li>
                                <li class="lineac2"></li>
                            </ul>
                        </span>
                    </div>
                </div>

                <!-- popup form -->

                <section class="get-in-touch-mob animate">
                    <div class="get2">
                        <form action="/submit-query" method="post">
                            <h3>Get in touch with us</h3>
                            <div class="frmin">
                                <label for="name">Name:</label>
                                <p class="ikn">
                                    <span><img style="border-radius: 50%;" src="/assets/images/ikn-nm.webp"
                                            alt="icon name"></span>
                                    <input type="text" id="name" name="name" placeholder="Enter you name" required>
                                </p>
                            </div>
                            <div class="frmin">
                                <label for="email">Email:</label>
                                <p class="ikn">
                                    <span><img src="/assets/images/ikn-em.webp" alt="icon email"></span>
                                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                                </p>
                            </div class="frmin">
                            <div>
                                <label for="phone">Phone:</label>
                                <p class="ikn">
                                    <span><img src="/assets/images/ikn-ph.webp" alt="icon phone"></span>
                                    <input type="tel" id="phone" name="phone" placeholder="Enter you contact no"
                                        required>
                                </p>
                            </div>
                            <div class="frmin">
                                <label for="message">Message:</label>
                                <p class="ikn">
                                    <span><img src="/assets/images/ikn-msg.webp" alt="icon message"></span>
                                    <input type="text" id="message" name="message"
                                        placeholder="What do you want to hear from us?" required>
                                </p>
                            </div>
                            <div class="frmin"><button type="submit">Submit</button></div>
                        </form>
                        <div class="brd"></div>
                    </div>
                </section>

                <!-- Pain and Problem section -->
                <section class="hero-section-3 animate">
                    <p><span>Is Your Website</span> Holding You Back?</p>
                </section>
                <section class="hero-section-4 animate">
                    <div class="hero-cards-sec">
                        <ul class="ul1">
                            <li class="animate ani-pop" id="1">
                                <!-- <p><img src="/assets/images/aimhorn.webp" alt="aimhorn"></p> -->
                                <p>

                                    <img src="/assets/images/firstgif.gif" alt="">
                                </p>

                                <h2>Is a slow website driving visitors away?</h2>
                                <p>Your website might be losing customers due to slow load times and high bounce rates.
                                    Issues like poor server performance, too many ads, outdated CMS, and excessive code
                                    density can seriously affect speed. These factors frustrate visitors, hurting your
                                    business growth and making it difficult to retain customers.
                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <div class=""
                                                style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                                <img class="aata" height="30" width="30"
                                                    src="/assets/images/thumbs-up.webp" alt="thumbs-up">
                                            </div>
                                            <small>
                                                <%= getLikesDislikes[0].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[0].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>
                            <li class="fordes animate ani-pop" id="3">
                                <p><img src="/assets/images/rating.webp" alt="rating"></p>
                                <h2>Is a high bounce rate costing you potential customers?
                                </h2>
                                <p>A high bounce rate means your website isn't meeting visitor expectations. It could be
                                    due to poor content, confusing design, slow load times, or irrelevant traffic.
                                    Improving user experience, optimizing page load speed, and refining content can help
                                    reduce bounce rates and boost engagement, leading to higher conversions.
                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata gfg2" height="30" width="30"
                                                src="/assets/images/thumbs-up.webp" alt="thumbs-up">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[2].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata gfg2" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[2].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>
                            <li class="fordes asw animate ani-pop" id="4">
                                <p><img src="/assets/images/msglp2.webp" alt="msglp2"></p>
                                <h2>Is your website losing customers because it's not mobile-friendly?
                                </h2>
                                <p>Having a mobile-friendly website is essential for SEO. Google prioritizes
                                    mobile-friendly sites in mobile search rankings. Studies show 61% of users won’t
                                    return to a site they struggle to access, and 75% prefer mobile-friendly sites. With
                                    mobile searches overtaking desktop, optimizing for mobile boosts rankings and user
                                    experience.
                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata gfg3" height="30" width="30"
                                                src="/assets/images/thumbs-up.webp" alt="thumbs-up">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[3].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata gfg3" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[3].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>
                            <li class="animate ani-pop" id="2">
                                <!-- <p><img src="/assets/images/aimhorn.webp" alt="aimhorn"></p> -->
                                <p>

                                    <img src="/assets/images/secondgif.gif" alt="">
                                </p>
                                <h2>How can we enhance your customer experience while ensuring robust cybersecurity for
                                    your digital platforms?
                                </h2>
                                <p>Businesses can boost customer trust and enhance the overall experience by adopting
                                    strong cybersecurity measures and openly sharing their security practices. This
                                    transparency reassures customers that their data is protected, leading to stronger
                                    relationships and greater loyalty in today’s digital landscape where security is a
                                    top priority.
                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30" src="/assets/images/thumbs-up.webp"
                                                alt="thumbs-up">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[1].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[1].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="ul2">
                            <li class="formob animate ani-pop" id="3">
                                <p><img src="/assets/images/rating.webp" alt="rating"></p>
                                <h2>Is a high bounce rate costing you potential customers?

                                </h2>
                                <p>A high bounce rate means your website isn't meeting visitor expectations. It could be
                                    due to poor content, confusing design, slow load times, or irrelevant traffic.
                                    Improving user experience, optimizing page load speed, and refining content can help
                                    reduce bounce rates and boost engagement, leading to higher conversions.


                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30" src="/assets/images/thumbs-up.webp"
                                                alt="thumbs-up">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[2].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[2].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>



                            <li class="formob animate ani-pop" id="4">
                                <p><img src="/assets/images/msglp2.webp" alt="msglp2"></p>
                                <h2>Is your website losing customers because it's not mobile-friendly?
                                </h2>
                                <p>Having a mobile-friendly website is essential for SEO. Google prioritizes
                                    mobile-friendly sites in mobile search rankings. Studies show 61% of users won’t
                                    return to a site they struggle to access, and 75% prefer mobile-friendly sites. With
                                    mobile searches overtaking desktop, optimizing for mobile boosts rankings and user
                                    experience.
                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata grnimg" height="30" width="30"
                                                src="/assets/images/thumbs-up.webp" alt="thumbs-up">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[3].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata grnimg" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[3].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>
                            <li class="animate ani-pop" id="5">
                                <p><img src="/assets/images/rating.webp" alt="rating"></p>
                                <h2>Struggling to choose the right language for your mobile app?
                                </h2>
                                <p>React Native is a popular JavaScript library for building mobile apps for both iOS
                                    and Android, offering cross-platform development with a single codebase. Launched by
                                    Facebook in 2018, it supports third-party plugins, low code, and hot reloading. Get
                                    your app developed in React by the best developers of Shashi Sales & Marketing.
                                </p>
                                <div class="like-dislike">
                                    <div class="like">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30" src="/assets/images/thumbs-up.webp"
                                                alt="thumbs-up">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[4].likes %>
                                            </small>
                                            <% } %>
                                    </div>
                                    <div class="dislike">
                                        <div class=""
                                            style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                            <img class="aata" height="30" width="30"
                                                src="/assets/images/thumbs-down.webp" alt="thumbs-down">
                                        </div>
                                        <% if (getLikesDislikes.length> 0) { %>
                                            <small>
                                                <%= getLikesDislikes[4].dislikes %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </section>

                <section class="hero-section-3 animate">
                    <p style="padding-top: .7rem;">What You'll <span>Gain?</span>
                    </p>
                </section>
                <section id="whyChooseUs">
                    <div class="brand-container animate">
                        <div class="brand-card">
                            <div class="card-content">
                                <div class="card-text">
                                    <h2>Faster Website Load Times Improve User Engagement</h2>
                                    <p>By optimizing your website’s speed, you ensure smoother navigation, reduce
                                        frustrations, and keep visitors longer. A fast-loading site encourages potential
                                        customers to explore further, leading to better user retention and increased
                                        chances of conversion.
                                    </p>
                                </div>
                                <div class="illustration">
                                    <img src="/assets/images/b1.png" alt="">
                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <div class="brand-card">
                            <div class="card-content">
                                <div class="card-text">
                                    <h2>Lower Bounce Rates Lead to Higher Conversions
                                    </h2>
                                    <p>When your site is tailored to meet visitor expectations through better design,
                                        clear content, and faster performance, visitors stay longer and engage more.
                                        Reducing your bounce rate means more meaningful interactions, translating
                                        directly to improved business outcomes.
                                    </p>
                                </div>
                                <div class="illustration">
                                    <img src="/assets/images/b2.png" alt="">

                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <div class="brand-card">
                            <div class="card-content">
                                <div class="card-text">
                                    <h2>Mobile Optimization Drives Better Rankings and User Satisfaction
                                    </h2>
                                    <p>A mobile-optimized site ranks higher in search engines and offers a seamless
                                        experience for your mobile visitors. As mobile usage grows, a mobile-friendly
                                        design helps capture a wider audience, improving customer retention and
                                        satisfaction.

                                    </p>
                                </div>
                                <div class="illustration">
                                    <img src="/assets/images/b3.png" alt="">

                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <div class="brand-card">
                            <div class="card-content">
                                <div class="card-text">
                                    <h2> Efficient App Development with React Native
                                    </h2>
                                    <p>React Native ensures faster, cross-platform app development using a single
                                        codebase, cutting down on time and costs. With support for third-party plugins
                                        and advanced features like hot reloading, you can achieve a smoother and more
                                        flexible app development process.
                                    </p>
                                </div>
                                <div class="illustration">
                                    <img src="/assets/images/b4.png" alt="">

                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                        <div class="brand-card">
                            <div class="card-content">
                                <div class="card-text">
                                    <h2>Better Customer Experience Through Strong Cybersecurity
                                    </h2>
                                    <p>Implementing robust security measures not only protects your customers but also
                                        builds trust. By communicating your commitment to data protection, you reassure
                                        users, helping to foster stronger relationships and lasting loyalty.
                                    </p>
                                </div>
                                <div class="illustration">
                                    <img src="/assets/images/b5.png" alt="">
                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="progress"></div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="hero-section-5 animate">
                    <h2>Here's Just A TINY Selection of <span>Who Shashi Sales is Perfect For</span></h2>
                    <p>Industries We Empower</p>

                    <div class="industries-cont-out">
                        <!-- <button class="scroll-btn left-btn" id="scroll-left">&lt;</button> -->
                        <ul id="scroll-container">
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/Banker.png" alt="">
                                </figure>
                                <h3>Banking and Financial
                                </h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/ecom.png" alt=""></figure>
                                <h3>E-commerce / Online Retail
                                </h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/it.png" alt=""></figure>
                                <h3>IT Services and Business Solutions
                                </h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/rea.svg" alt=""></figure>
                                <h3>Real Estate
                                </h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/blockchain.png" alt=""></figure>
                                <h3>Block Chain</h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/digitalmarketing.png" alt=""></figure>
                                <h3>Digital Advertising, Marketing Technology</h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/business.png" alt=""></figure>
                                <h3>Business Consulting, Professional Services
                                </h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                            <li class="industries-cont ani-pop">
                                <figure><img src="/assets/images/Doctor.png" alt=""></figure>
                                <h3>Health Services, Medical Services
                                </h3>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p> -->
                            </li>
                        </ul>
                        <!-- <button class="scroll-btn right-btn" id="scroll-right">&gt;</button> -->
                    </div>
                </section>


                <section class="hero-section-5-mob">
                    <div class="hero-section-5-mob-head">
                        <h2>Industries <span>We Empower</span></h2>

                    </div>


                    <div class="industries-cont-mob">
                        <div class="ind-item">
                            <img src="/assets/images/Banker.png" alt="">
                            <p>Banking and Financial</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/ecom.png" alt="">
                            <p>E-commerce / Online Retail</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/it.png" alt="">
                            <p>IT Services and Business Solutions</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/rea.svg" alt="">
                            <p>Real Estate</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/blockchain.png" alt="">
                            <p>Block Chain</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/digitalmarketing.png" alt="">
                            <p>Digital Advertising, Marketing Technology</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/business.png" alt="">
                            <p>Business Consulting, Professional Services</p>
                        </div>
                        <div class="ind-item">
                            <img src="/assets/images/Doctor.png" alt="">
                            <p>Health Services, Medical Services</p>
                        </div>
                    </div>
                </section>



                <section class="landing-section-6 animate">
                    <div class="landing-section-6-in">
                        <div class="lp6">
                            <h2>Trusted by <span style="color: #c4c800;">Aspiring Brands...</span></h2>


                        </div>
                        <div class="lp6">
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley
                            </p> -->
                        </div>
                    </div>
                    <ul class="companies-sec">
                        <li><img height="50" width="50" src="/assets/images/ll1.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll2.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll3.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll4.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll5.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll6.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll7.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll8.png" alt="logo"></li>
                        <li><img height="50" width="50" src="/assets/images/ll9.png" alt="logo"></li>
                    </ul>
                    <!-- <table>
                    <tr>
                        <th><img height="50" width="50" src="/assets/images/logo.png" alt="logo"></th>
                        <th><img height="50" width="50" src="/assets/images/logo.png" alt="logo"></th>
                        <th><img height="50" width="50" src="/assets/images/logo.png" alt="logo"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table> -->
                </section>


                <!-- TESTIMONIAL SECTION     -->

                <h2 class="all-heading">Hear From Our Happy Clients</h1>

                    <div class="testimonial-section">
                        <div class="swiper testimonial-swiper">
                            <div class="swiper-wrapper">
                                <% testimonials.forEach(function(testimonial) { %>
                                    <div class="swiper-slide testimonial" data-id="<%= testimonial._id %>">
                                        <p>
                                            <%= testimonial.text %>
                                        </p>
                                        <p class="name">
                                            <%= testimonial.name %>
                                        </p>
                                        <img src="<%= testimonial.image ? testimonial.image : '/assets/images/prof.png' %>"
                                            alt="<%= testimonial.name %>">
                                    </div>
                                    <% }); %>
                            </div>
                        </div>

                        <div class="testimonial-buttons">
                            <button class="susses-story" onclick="openUserStory()">Success Story</button>
                            <button class="growth" onclick="openUserStory()">Growth</button>
                            <button class="case-study" onclick="openUserStory()">Case Study</button>
                        </div>
                    </div>
                    <!-- TESTIMONIAL SECTION     -->


                    <section class="faq-sec animate">
                        <div class="faq-sec-p1">
                            <ul>
                                <li><span class="atr"><img height="50" width="50" src="/assets/images/69.webp"
                                            alt="at"></span>
                                    <h3>
                                        <ul>
                                            <li>Frequently</li>
                                            <li>asked</li>
                                            <li>questions</li>
                                        </ul>
                                    </h3>
                                </li>
                                <li><span class="fillout"><img height="50" width="50" src="/assets/images/Fill 333.webp"
                                            alt="fill"></span></li>
                            </ul>
                        </div>
                        <div class="faq-sec-p2">
                            <div class="faq-sec-p2-l">
                                <ul>
                                    <li>
                                        <div id="lin1" class="ddfg">
                                            <h3>how fast should website load to reduce bounce rate?

                                            </h3>
                                            <span class="linea">
                                                <ul>
                                                    <li class="linea1"></li>
                                                    <li class="linea2"></li>
                                                </ul>
                                            </span>
                                        </div>
                                        <p id="answ1">To lower bounce rates, websites should aim to load within two
                                            seconds. Google’s research shows that if a page load time goes from one to
                                            three seconds, the chances of visitors leaving the site jump by 32%.</p>
                                    </li>
                                    <li>
                                        <div id="lin2" class="ddfg">
                                            <h3>How much does it cost to pay a website developer?

                                            </h3>
                                            <span class="linea">
                                                <ul>
                                                    <li class="linea1"></li>
                                                    <li class="linea2"></li>
                                                </ul>
                                            </span>
                                        </div>
                                        <p id="answ2">Freelance web designers typically earn around $75 per hour, though
                                            this can vary. According to CSS-Tricks, rates can differ depending on the
                                            project. Website Builder Expert suggests that designing a website usually
                                            costs between $30 to ₹80 per hour, while development can range from $100 to
                                            $180 per hour

                                        </p>
                                    </li>
                                    <li>
                                        <div id="lin3" class="ddfg">
                                            <h3>Why is my website bounce rate so high?

                                            </h3>
                                            <span class="linea">
                                                <ul>
                                                    <li class="linea1"></li>
                                                    <li class="linea2"></li>
                                                </ul>
                                            </span>
                                        </div>
                                        <p id="answ3">A website's bounce rate is the percentage of visitors who leave
                                            immediately. High bounce rates can result from issues like broken pages, 404
                                            errors, poor mobile-friendliness, slow load times, and confusing design.
                                            Low-quality content, lack of security, or long web forms can also drive
                                            users away. Informational sites may have higher bounce rates if visitors
                                            find what they need quickly. A bounce rate over 70% is concerning, and above
                                            90% is alarming.

                                        </p>
                                    </li>
                                    <li>
                                        <div id="lin4" class="ddfg">
                                            <h3>Struggling to choose the right language for your mobile app?
                                            </h3>
                                            <span class="linea">
                                                <ul>
                                                    <li class="linea1"></li>
                                                    <li class="linea2"></li>
                                                </ul>
                                            </span>
                                        </div>
                                        <p id="answ4">React Native is a popular JavaScript library for building mobile
                                            apps for both iOS and Android, offering cross-platform development with a
                                            single codebase. Launched by Facebook in 2018, it supports third-party
                                            plugins, low code, and hot reloading. Get your app developed in React by the
                                            best developers of Shashi Sales & Marketing.
                                        </p>
                                    </li>
                                    <li>
                                        <div id="lin5" class="ddfg">
                                            <h3>How can we enhance your customer experience while ensuring robust
                                                cybersecurity for your digital platforms?
                                            </h3>
                                            <span class="linea">
                                                <ul>
                                                    <li class="linea1"></li>
                                                    <li class="linea2"></li>
                                                </ul>
                                            </span>
                                        </div>
                                        <p id="answ5">Businesses can boost customer trust and enhance the overall
                                            experience by adopting strong cybersecurity measures and openly sharing
                                            their security practices. This transparency reassures customers that their
                                            data is protected, leading to stronger relationships and greater loyalty in
                                            today’s digital landscape where security is a top priority.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="faq-sec-p2-r">
                                <ul>
                                    <li><img height="50" src="/assets/images/msgIcon.webp" alt="message icon"></li>
                                    <li>
                                        <h3>Do you have more questions?</h3>
                                    </li>
                                    <li>
                                        <p>End-to-end payments and financial management in a single solution. Meet the
                                            right
                                            platform to help realize.</p>
                                    </li>
                                    <li>
                                        <a href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!"
                                            class="faq-sec-p2-r">
                                            <span>Shoot A Direct Mail</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>






                    <section class="get-in-touch-section animate">
                        <div class="get1 animate">
                            <!-- <img src="/assets/images/emailcamp2.webp" alt="emailcamp"> -->
                            <img src="/assets/images/Email campaign.gif" alt="emailcamp"></img>
                        </div>
                        <div class="get2 animate last-quote-form">
                            <form action="/submit-query" method="post">
                                <h3>Get in touch with us</h3>
                                <div class="frmin">
                                    <label for="name">Name:</label>
                                    <p class="ikn">
                                        <span><img style="border-radius: 50%;" src="/assets/images/ikn-nm.webp"
                                                alt="icon name"></span>
                                        <input type="text" id="name" name="name" placeholder="Enter you name" required>
                                    </p>
                                </div>
                                <div class="frmin">
                                    <label for="email">Email:</label>
                                    <p class="ikn">
                                        <span><img src="/assets/images/ikn-em.webp" alt="icon email"></span>
                                        <input type="email" id="email" name="email" placeholder="Enter your email"
                                            required>
                                    </p>
                                </div class="frmin">
                                <div>
                                    <label for="phone">Phone:</label>
                                    <p class="ikn">
                                        <span><img src="/assets/images/ikn-ph.webp" alt="icon phone"></span>
                                        <input type="tel" id="phone" name="phone" placeholder="Enter you contact no"
                                            required>
                                    </p>
                                </div>
                                <div class="frmin">
                                    <label for="message">Message:</label>
                                    <p class="ikn">
                                        <span><img src="/assets/images/ikn-msg.webp" alt="icon message"></span>
                                        <input type="text" id="message" name="message"
                                            placeholder="What do you want to hear from us?" required>
                                    </p>
                                </div>
                                <div class="frmin"><button type="submit">Submit</button></div>
                            </form>
                            <div class="brd"></div>
                        </div>
                    </section>

            </main>
            <footer class="landing-footer">
                <section class="footer-p1">
                    <ul>
                        <li class="lgo"><a href="#"><img src="/assets/images/logo.png" alt="logo"></a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/digital-marketing">Advertising</a></li>
                        <li><a href="/web-development">Development</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>

                        <li>
                            <span style="margin-right: 2.3rem;"><a href="#">Follow Us</a></span>
                            <span style="margin-right: .8rem;"><a href="#"><img height="25" width="25"
                                        src="/assets/images/Twitter2.webp" alt="Twitter2"></a></span>
                            <span style="margin-right: .8rem;"><a href="#"><img height="25" width="25"
                                        src="/assets/images/Instagram2.webp" alt="Instagram2"></a></span>
                            <span style="margin-right: .8rem;"><a href="#"><img height="25" width="25"
                                        src="/assets/images/Facebook2.webp" alt="Facebook2"></a></span>
                            <span><a href="#"><img height="25" width="25" src="/assets/images/Linkedin2.webp"
                                        alt="Linkedin2"></a></span>
                        </li>
                    </ul>
                </section>
                <section class="footer-p2">
                    <ul>
                        <li>© 2024 shashisales. All Rights Reserved.</li>
                        <li>Developed by - shashisales.com</li>
                    </ul>
                </section>
            </footer>
        </div>





        <!-- res foot -->

        <div id="overlay"></div>
        <!-- Call Section for mobile devices -->
        <div class="mob-call-container">
            <div class="getq-form">
                <div class="mob-ele" id="getq">
                    <div class="up">
                        <img src="/assets/images/star.png" height="30" width="30" alt="mob-call-icon1" />
                    </div>
                    <div class="down">get quote</div>
                </div>
            </div>

            <a href="tel:18005710605" id="callLink" class="mob-ele">
                <div class="up">
                    <img src="/assets/images/mob-call-icon2.png" height="30" width="30" alt="mob-call-icon1" />
                </div>
                <div class="down">call us</div>
            </a>

            <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D"
                class="mob-ele">
                <div class="up">
                    <img src="/assets/images/mob-call-icon3.png" height="30" width="30" alt="mob-call-icon1" />
                </div>
                <div class="down">chat with us</div>
            </a>
            <div class="mob-ele show-vertical">
                <div class="up">
                    <img height="30" width="30" src="/assets/images/mob-call-icon4.png" alt="mob-call-icon1" />
                </div>
                <div class="down">Social Handles</div>
            </div>
        </div>

        <div class="vertical-icons">
            <a href="https://www.facebook.com/shashigroups" target="_blank"><img height="30" width="30"
                    src="/assets/images/fb.webp" alt="Facebook" /></a>
            <a href="https://www.instagram.com/shashisales/" target="_blank"><img height="30" width="30"
                    src="/assets/images/in.webp" alt="Instagram" /></a>
            <a href="https://www.linkedin.com/company/shashisales/" target="_blank"><img height="30" width="30"
                    src="/assets/images/ln.webp" alt="LinkedIn" /></a>
        </div>


        <script src="/js/landing.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <script>

            function getPhoneNumber(event) {
                event.preventDefault(); // Prevent the default action of the anchor tag

                const callLink = document.getElementById("callLink");

                // Check if Geolocation is available
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(success, error);
                } else {
                    alert("Geolocation is not supported by your browser.");
                    showPhoneNumberOptions(); // Show both phone numbers
                }

                // Success callback
                function success(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    // Send coordinates to the server
                    fetch('/get-phone-number', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ latitude, longitude })
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Set the phone number based on location
                            callLink.href = `tel:${data.phone}`;
                            // Trigger the call after updating the phone number
                            window.location.href = callLink.href;
                        })
                        .catch(err => {
                            console.error('Error:', err);
                            alert("Unable to retrieve phone number.");
                        });
                }

                // Error callback
                function error() {
                    alert("Location access denied.");
                    showPhoneNumberOptions(); // Show both phone numbers
                }

                function showPhoneNumberOptions() {
                    // Display an alert with both phone numbers
                    const indiaNumber = "18005710605"; // Replace with your India number
                    const globalNumber = "+1-321-125-5890"; // Replace with your global number

                    const userChoice = confirm(`Location access was denied.\n\nPlease choose a number to call:\n\nIndia:
        ${indiaNumber}\nGlobal: ${globalNumber}`);

                    if (userChoice) {
                        callLink.href = `tel:${indiaNumber}`;
                    } else {
                        callLink.href = `tel:${globalNumber}`;
                    }

                    window.location.href = callLink.href; // Trigger the call with the chosen number
                }
            }

        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const showVerticalButton = document.querySelector(".show-vertical");
                const verticalIcons = document.querySelector(".vertical-icons");

                showVerticalButton.addEventListener("click", function () {
                    verticalIcons.classList.toggle("show");
                });
            });
        </script>
        <script>
            document.getElementById("getq").addEventListener("click", function () {
                var mobFoot = document.getElementById("mob-foot");
                var overlay = document.getElementById("overlay");

                if (mobFoot.style.display === "none" || mobFoot.style.display === "") {
                    mobFoot.style.display = "block";
                    overlay.style.display = "block";
                } else {
                    mobFoot.style.display = "none";
                    overlay.style.display = "none";
                }
            });

            document.getElementById("overlay").addEventListener("click", function () {
                document.getElementById("mob-foot").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            });
        </script>


        <!-- res foot -->



        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>





        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const linIds = ['lin1', 'lin2', 'lin3', 'lin4', 'lin5'];

                linIds.forEach((id, index) => {
                    const linElement = document.getElementById(id);
                    const answerElement = document.getElementById(`answ${index + 1}`);
                    const linea2Element = linElement.querySelector('.linea2');

                    answerElement.style.maxHeight = "0px";
                    answerElement.style.opacity = "0";
                    answerElement.style.overflow = "hidden";

                    linElement.addEventListener('click', function (e) {
                        e.preventDefault()
                        if (answerElement.style.maxHeight === "0px") {
                            answerElement.style.maxHeight = answerElement.scrollHeight + "px";
                            answerElement.style.marginTop = "1vw";
                            answerElement.style.opacity = "1";
                        } else {
                            answerElement.style.maxHeight = "0px";
                            answerElement.style.marginTop = "0vw";
                            answerElement.style.opacity = "0";
                        }

                        if (linea2Element) {
                            linea2Element.classList.toggle('rotate');
                        }
                    });
                });
            });
        </script>

        <script>
            // Save scroll position before page unload
            window.addEventListener('beforeunload', function () {
                sessionStorage.setItem('scrollPosition', window.scrollY);
            });

            // Restore scroll position on load
            window.addEventListener('load', function () {
                if (sessionStorage.getItem('scrollPosition')) {
                    window.scrollTo(0, parseInt(sessionStorage.getItem('scrollPosition')));
                }
                // Initialize GSAP and ScrollTrigger after restoring scroll
                initAnimations();
            });

            document.addEventListener('DOMContentLoaded', function () {
                gsap.registerPlugin(ScrollTrigger);

                // Disable ScrollTrigger's automatic refresh
                ScrollTrigger.config({ autoRefreshEvents: "visibilitychange,DOMContentLoaded,load" });

                const container = document.querySelector('.brand-container');
                const cards = gsap.utils.toArray('.brand-card');

                // Horizontal scroll animation for the cards
                let tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: "#whyChooseUs",
                        pin: true,
                        pinSpacing: true,
                        start: "top top",
                        end: () => "+=" + (container.offsetWidth * (cards.length - 1)),
                        scrub: 1,
                        onUpdate: self => {
                            if (self.progress === 1 && self.direction > 0) {
                                const nextSection = document.querySelector('#whyChooseUs').nextElementSibling;
                                if (nextSection) {
                                    ScrollTrigger.create({
                                        trigger: nextSection,
                                        start: "top bottom",
                                        onEnter: () => nextSection.scrollIntoView({ behavior: 'smooth' })
                                    });
                                }
                            }
                        }
                    }
                });

                // Add each card to the timeline
                cards.forEach((card, i) => {
                    if (i > 0) {
                        tl.to(cards, {
                            xPercent: -113 * i,
                            duration: 1,
                            ease: "none"
                        });
                    }
                });


                // Animate progress bars
                cards.forEach((card, index) => {
                    const progress = card.querySelector('.progress');
                    gsap.to(progress, {
                        width: "100%",
                        scrollTrigger: {
                            trigger: card,
                            containerAnimation: ScrollTrigger.getById("whyChooseUs"),
                            start: "left center",
                            end: "right center",
                            scrub: true
                        }
                    });
                });

                // Force ScrollTrigger to recalculate all scrollbar-related values
                ScrollTrigger.refresh();



            });
        </script>


        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add('visible');
                            observer.unobserve(entry.target);
                        }
                    });
                }, {
                    threshold: 0.20
                });
                const elements = document.querySelectorAll('.animate');
                elements.forEach(element => observer.observe(element));
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add('visible-text');
                            observer.unobserve(entry.target);
                        }
                    });
                }, {
                    threshold: 0.20
                });
                const elements = document.querySelectorAll('.animate-text');
                elements.forEach(element => observer.observe(element));
            });
        </script>
        <script>
            // pop element animation 
            document.addEventListener('DOMContentLoaded', function () {
                const cards = document.querySelectorAll('.ani-pop');

                const observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            entry.target.classList.add('visib');
                            observer.unobserve(entry.target);
                        }
                    });
                }, {
                    threshold: 0.4
                });
                cards.forEach(card => observer.observe(card));
            });
        </script>
</body>

</html>