<% layout("/layouts/boilerplate") %>

<style>
    .bl{
        background-color: black;
    }
    #main-page {
        width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    margin-top: 1rem;
}

#survey-container {
    
    padding: 8vw;
    border-radius: 8px;
    
   
    width: 100%;
    background-image: url("/assets/images/sbg.jpg");
    background-position: cover;
    background-size: 100% 100%;
    
}



#navigation {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #C4C800;
    color: #000;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

textarea{
    background:transparent ;
    color: white;
    border-bottom: 2px solid #C4C800;
    overflow-y: hidden;
    width: 100%;
    font-size: 1rem;
    padding-inline: 2rem;
    margin-bottom: 2rem;
    
}
.optional{
    margin-bottom: .5rem;
}

.optional:first-child{
    padding-bottom: 10rem;
}
</style>
<body>
    <div id="main-page">
    <div id="survey-container">
        <!-- <h1>Information About Your Project</h1> -->
        <form action="/submit" method="POST">
            <h2 style="color: #C4C800; margin-bottom: 3rem;"><%= questionNumber %> -> <%= question.text %></h2>
            
            
            <% if (question.type === 'text') { %>
                <textarea name="answer" rows="4" cols="50" required></textarea>
            <% } else if (question.type === 'mcq') { %>
                <% question.options.forEach((option, index) => { %>
                    <div class="optional">
                        <input type="radio" id="option<%= index %>" name="answer" value="<%= option %>" required>
                        <label for="option<%= index %>"><%= option %></label>
                    </div>
                <% }) %>
            <% } %>
            
            <input type="hidden" name="questionId" value="<%= question._id %>">
            <input type="hidden" name="questionNumber" value="<%= questionNumber %>">
            
            <div id="navigation">
                <% if (questionNumber > 1) { %>
                    <a href="/survey?q=<%= questionNumber - 1 %>" class="btn" style="background-color: white;">Previous</a>
                <% } %>
                
                <button type="submit" class="btn">
                    <%= questionNumber === totalQuestions ? 'Submit' : 'Next' %>
                </button>
            </div>
        </form>
        <!-- <p><%= questionNumber %> of <%= totalQuestions %></p> -->
    </div>
</div>
</body>
